html, body {
    margin: 0;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

header {
  text-align: center;
  position: relative;
  top: 33%;
}

#name {
  font-family: 'Roboto', sans-serif;
  font-size: 4.7em;
  margin: 0;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 1s;
  animation-duration: 1000ms;
  animation-delay: 1s;
}

#desc {
  height: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  -webkit-animation-duration: 1400ms;
  -moz-animation-duration: 1400ms;
  animation-duration: 1400ms;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#links li {
    display: inline;
}

#links li a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

#links li a:hover {
    color: #337ab7;
}

.hidden {
  visibility: hidden;
}