html, body {
    margin: 0;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

header {
  text-align: center;
  position: relative;
  top: 33%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.7em;
  margin: 0;
  -webkit-animation-duration: 1200ms !important;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 1200ms !important;
  -moz-animation-delay: 1s;
  animation-duration: 1200ms !important;
  animation-delay: 1s;
}

p {
  height: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  -webkit-animation-duration: 800ms !important;
  -moz-animation-duration: 800ms !important;
  animation-duration: 800ms !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

li p {
  display: inline;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

li a:hover {
    color: #337ab7;
}

.hidden {
  visibility: hidden;
}